body {
    padding-top: 5.5%;
    padding-left: 38%;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.number {
    width: 98%;
    margin: 20px 18px 0 18px;
    height: 90px;
    border-radius: 10px;
    background-color: #c3cec7;
    display: flex;
    flex-direction: column;    
    justify-content: center;    
    align-items: flex-end;      
    padding: 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.total {
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

.transaction {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}


.maindiv {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 355px;
    height: 520px;
    background-color:#004030;
    border: none;
    border-radius: 10px;
}

.button{
    width: 100%;
    margin-top:10px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-weight: 800;
}

.button button {
    color: #004000;
    height: 70px;
    width: 75px;
    border-radius: 6px;
    border:none;
    background-color:#DCD0A8;
}

.button .equal {
    background-color: #4A9782;
    height: 70px;
    color:#2C3930;
    width: 155px;
    font-weight: 700;
}

.number {
    display: flex;
    justify-content: end;
    align-items: center;
}   

.button button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.button button:active {
    transform: scale(0.95);
    background-color: #d6b87c;
}

.math-tip {
    font-size: 14px;
    font-style: italic;
    color: #eee;
    text-align: center;
    margin-top: 10px;
    height: 18px;
    margin-bottom: 90px;
}


